.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.description {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.record-image {
    width: 100%;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, 0.5);
    border-collapse: collapse;
}

td {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .record-image {
        border-radius: 3px;
    }

    td {
        font-size: 14px;
        padding: 8px;
    }
}
