<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/home/barcode.css"/>
    <title>바코드 인식</title>
</head>

<body>
    <!-- {% include 'home/side.html' %} -->
    <img src="{{ url_for('barcode.video_feed') }}" id="videoFeed" />
    <div id="result"></div>

    <div id="manualInput" style="display:none;">
        <h2>식품 정보 직접 입력</h2>
        <form id="manualForm">
            식품명: <input type="text" id="manualName" required><br>
            내용량(g): <input type="number" id="manualWeight" required><br>
            열량(kcal): <input type="number" id="manualCalories" required><br>
            나트륨(mg): <input type="number" id="manualSodium" required><br>
            탄수화물(g): <input type="number" id="manualCarbohydrate" required><br>
            지방(g): <input type="number" id="manualFat" required><br>
            콜레스테롤(mg): <input type="number" id="manualCholesterol" required><br>
            단백질(g): <input type="number" id="manualProtein" required><br>
            <button type="submit">정보 저장</button>
        </form>
    </div>
    <button id="manualEntryButton" style="margin-top: 10px;">직접 입력</button>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect('http://127.0.0.1:5000');
            socket.on('barcode', function(data) {
                showFood(data.food_info);
            });
        });

        $('#manualEntryButton').click(function() {
            $('#videoFeed').hide();
            $('#manualInput').show();
        });

        $('#manualForm').submit(function(event) {
            event.preventDefault(); // 기본 제출 동작 방지
            let info = {
                name: $('#manualName').val(),
                weight: $('#manualWeight').val(),
                calories: $('#manualCalories').val(),
                sodium: $('#manualSodium').val(),
                carbohydrate: $('#manualCarbohydrate').val(),
                fat: $('#manualFat').val(),
                cholesterol: $('#manualCholesterol').val(),
                protein: $('#manualProtein').val()
            };
            saveFoodInfo(info);
        });

        function showFood(info) {
            if (info) {
                let record_html = `
                    <h2>바코드 인식 결과: 영양정보를 표시합니다.</h2>
                    <table class="table">
                        <tr>
                            <td style="font-size: 25px; font-weight:bold;">식품명/내용량</td>
                            <td style="font-size: 25px; font-weight:bold;">${info.name}/${info.weight}g</td>
                        </tr>
                        <tr>
                            <td>열량(kcal)</td>
                            <td>${info.calories}</td>
                        </tr>
                        <tr>
                            <td>나트륨(mg)</td>
                            <td>${info.sodium}</td>
                        </tr>
                        <tr>
                            <td>탄수화물(g)</td>
                            <td>${info.carbohydrate}</td>
                        </tr>
                        <tr>
                            <td>지방(g)</td>
                            <td>${info.fat}</td>
                        </tr>
                        <tr>
                            <td>콜레스테롤(mg)</td>
                            <td>${info.cholesterol}</td>
                        </tr>
                        <tr>
                            <td>단백질(g)</td>
                            <td>${info.protein}</td>
                        </tr>
                    </table>
                `;
                $('#result').html(record_html);
                updateSaveButton(info);
            } else {
                $('#result').html('<h2>해당 식품을 찾을 수 없습니다.</h2>');
            }
        }

        function updateSaveButton(info) {
            let save_button_html = `
                <button id="saveButton" style="text-decoration: none; color: white">저장하기</button>
                `;
            $('#result').append(save_button_html);

            $('#saveButton').on('click', function() {
                saveFoodInfo(info);
            });
        }

        function saveFoodInfo(info) {
            $.ajax({
                url: `/barcode_record`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(info),
                success: function(response) {
                    window.location.href = '/record';
                },
                error: function(response) {
                    alert('저장 실패: ' + response.responseJSON);
                }
            });
        }
    </script>
</body>

</html>
