body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px; /* Ensure there's some padding around the body content */
  justify-content: center;
  align-items: center;
}

.weight-form {
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin: 20px auto;
}

.cam_predict_name,
.weight_title {
  font-size: 1.5em;
  color: #333;
}

.cam_predict_intro {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.cam_predict_image {
  margin-bottom: 20px;
}

.cam_predict_img {
  width: 100%;
  height: auto;
}

.food_name {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
}

.food_input {
  font-size: 1em;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.save_btn {
  margin-top: 20px;
}

.save_input {
  background-color: #28a745; /* Success color, indicative of action */
  color: white;
  border: none;
  padding: 12px 24px; /* Consistent padding with label */
  font-size: 16px; /* Legible font size */
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Full width button for emphasis */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.save_input:hover {
  background-color: #218838; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .weight-form {
    padding: 20px; /* Slightly less padding on smaller screens */
    width: 90%; /* More responsive width adjustment */
  }
}
