<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/food/weights2.css" />
    <title>무게 입력</title>
  </head>
  <body>
    <form action="/result" method="post" class="weight-form">
      <h1 class="cam_predict_name">무게 입력</h1>
      <p class="cam_predict_intro">
        정확한 계산을 위해 인식한 음식들의 무게를 입력합니다.
      </p>
      <div class="cam_predict_image">
        <img src="{{ user_image }}" alt="User Image" class="cam_predict_img" />
      </div>
      <h2 class="weight_title">인식한 음식</h2>
      <hr />
      <div>
        {% for food in products %}
        <div class="food_name">
          {{food}}:
          <input
            type="number"
            name="{{food}}"
            value="100"
            class="food_input"
          />g
        </div>
        {% endfor %}
      </div>
      <div class="save_btn">
        <input type="submit" class="save_input" value="결과보기" />
      </div>
    </form>
  </body>
</html>
